{{
		response.write("<div id='playerField'>", escape=False)
		in_row = 0
		for x in player_field:
			if x=="w":
				response.write("<div class='water'></div>", escape=False)
			elif x=="s":
				response.write("<div class='ship'></div>", escape=False)
			elif x=="p":
				response.write("<div class='shoot_water'></div>", escape=False)
			elif x=="t":
				response.write("<div class='shoot_ship'></div>", escape=False)
			else:
				response.write("<div></div>", escape=False)
			pass
			pass
		pass
		response.write("</div>", escape=False)
		response.write("<div id='cpuField'>", escape=False)
		#graczowi pokazujemy tylko odkryte pozycje
		counter = 0
		for x in cpu_field:
			if x=="w" or x=="s":
				response.write("<div class='unknown' onclick='shoot(", escape=False)
				response.write(counter)
				response.write(")' ></div>", escape=False)
			elif x=="p":
				response.write("<div class='shoot_water'></div>", escape=False)
			elif x=="t":
				response.write("<div class='shoot_ship'></div>", escape=False)
			else:
				response.write("<div></div>", escape=False)
			pass
			counter = counter + 1
			pass
		pass
		response.write("</div>", escape=False)
}}
