<html>
	<head>
		<title>Elkostatki</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{{=URL('static','css/main.css')}}"/>
		<script src="{{=URL('static','js/jquery.js')}}"></script>
		<script src="{{=URL('static','js/main.js')}}"></script>
	</head>
	<body>
		<h1>Elkostatki</h1>
		<div id='field'>
		 <!-- Ten element będzie wypełniony plaszą za pomocą AJAX -->
		</div>
		<div id="new_game_button" ><h2>Nowa gra</h2></div>
		<div id="backgroundCopy">
			<a href="http://www.newgrounds.com/art/view/qunit/sea">Background by Quint</a>
		</div>
		<div id="authors">
			&copy Antyradek <br/> &copy sigrond </br> &copy anrog  
		</div>
	</body>
</html>
