<!--
	@file about.html
    @brief the AngularJS partial 'about'
-->

<h1>My application - {{'ABOUT' | translate}}</h1>

<ul ng-controller="versionController">
  <li id="server_time" ng-controller="currentController">{{'TIME' | translate}}: <em id="server_time_val">{{current.time}}</em></li>
  <li id="server_version">{{'SRV_VER' | translate}}: <em id="server_version_val">{{server_ver.server}}</em></li>
  <li id="db_version">{{'DB_VER' | translate}}: <em id="db_version_val">{{server_ver.database}}</em></li>
  <li id="client_version">{{'CLI_VER' | translate}}: <em id="client_version_val">{{client_ver}}</em></li>
  <li id="cpp_get_number">C++ getNumber() result: <em id="cpp_get_number_val">{{cpp_get.number}}</em></li>
</ul>
