#field div
{
	display: inline-block;
	width:  50px;
	height: 50px;
}

.water
{
	background-color: #104E8B;
}

.ship
{
	background-color: black;
}

.shoot_water
{
	background-color: blue;
}

.shoot_ship
{
	background-color: red;
}

.unknown
{
	background-color: gray;
	cursor: pointer;
}
